<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Регистрирай гост </h3>
        <p class="text-subtitle text-muted">Тук можете да регистрирате гост в хотела.</p>
    </div>
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Регистрирай</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="input">Първо име</label>
                                            <input type="text" class="form-control" id="input" placeholder="Иван Петров">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="input">Фамилно име</label>
                                            <input type="text" class="form-control" id="input" placeholder="Иван Петров">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="input">Имейл</label>
                                            <input type="email" class="form-control" id="input" placeholder="ivan-pt@gmail.com">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="input">Стая</label>
                                            <input type="number" class="form-control" id="input" placeholder="201">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="input">От</label>
                                            <input type="text" class="form-control" id="input" placeholder="24.01 - 25.01.2021 г.">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="input">До</label>
                                            <input type="text" class="form-control" id="input" placeholder="24.01 - 25.01.2021 г.">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="input">Възрастни</label>
                                            <input type="text" class="form-control" id="input" placeholder="2">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="input">Деца</label>
                                            <input type="text" class="form-control" id="input" placeholder="1">
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit"
                                                class="btn btn-primary mr-1 mb-1">
                                            Регистрирай
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>