<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Сигнали</h3>
        <p class="text-subtitle text-muted">Тук може следите и отбелязвате сигналите като обработени.</p>
    </div>
    <div class="card widget-todo">
        <div class="card-header border-bottom d-flex justify-content-between align-items-center">
            <h4 class="card-title d-flex">
                <i class='bx bx-check font-medium-5 pl-25 pr-75'></i>Необработени сигнали
            </h4>

        </div>
        <div class="card-body px-0 py-1">
            <ul class="widget-todo-list-wrapper" id="widget-todo-list">
                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox1"
                                       data-toggle="modal" data-target="#default">
                                <label for="checkbox1"></label>
                            </div>
                            <span class="widget-todo-title ml-50">
                                Стая 203 - Неработещ телевизор
                                (24.02.2021)
                            </span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Hic, a? Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit. Unde, commodi.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input"
                                                       id="checkbox1">
                                                <label for="checkbox1">Отбележи като обработено</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox1"
                                       data-toggle="modal" data-target="#default">
                                <label for="checkbox1"></label>
                            </div>
                            <span class="widget-todo-title ml-50">
                                Стая 203 - Неработещ телевизор
                                (24.02.2021)
                            </span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Hic, a? Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit. Unde, commodi.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input"
                                                       id="checkbox1">
                                                <label for="checkbox1">Отбележи като обработено</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox1"
                                       data-toggle="modal" data-target="#default">
                                <label for="checkbox1"></label>
                            </div>
                            <span class="widget-todo-title ml-50">
                                Стая 203 - Неработещ телевизор
                                (24.02.2021)
                            </span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Hic, a? Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit. Unde, commodi.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input"
                                                       id="checkbox1">
                                                <label for="checkbox1">Отбележи като обработено</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>

                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox1"
                                       data-toggle="modal" data-target="#default">
                                <label for="checkbox1"></label>
                            </div>
                            <span class="widget-todo-title ml-50">
                                Стая 203 - Неработещ телевизор
                                (24.02.2021)
                            </span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Hic, a? Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit. Unde, commodi.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input"
                                                       id="checkbox1">
                                                <label for="checkbox1">Отбележи като обработено</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>

                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox1"
                                       data-toggle="modal" data-target="#default">
                                <label for="checkbox1"></label>
                            </div>
                            <span class="widget-todo-title ml-50">
                                Стая 203 - Неработещ телевизор
                                (24.02.2021)
                            </span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Hic, a? Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit. Unde, commodi.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input"
                                                       id="checkbox1">
                                                <label for="checkbox1">Отбележи като обработено</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>

                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox1"
                                       data-toggle="modal" data-target="#default">
                                <label for="checkbox1"></label>
                            </div>
                            <span class="widget-todo-title ml-50">
                                Стая 203 - Неработещ телевизор
                                (24.02.2021)
                            </span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                Hic, a? Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit. Unde, commodi.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input"
                                                       id="checkbox1">
                                                <label for="checkbox1">Отбележи като обработено</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>

            </ul>
        </div>
    </div>

    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Обработени сигнали</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead>
                                    <tr>
                                        <th>Заглавие</th>
                                        <th>Стая</th>
                                        <th>Дата</th>
                                        <th>Обработил</th>
                                        <th>Детайли</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Неработещ телевизор</td>
                                        <th>202</th>
                                        <td>23.01.2021 г.</td>
                                        <td>Иван Петров</td>
                                        <td data-toggle="modal" data-target="#border-less">
                                            <a href="#">Отвори</a>
                                        </td>

                                        <div class="modal fade text-left modal-borderless" id="border-less"
                                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-scrollable"
                                                 role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">
                                                            Стая 203 - Неработещ
                                                            телевизор (24.02.2021)
                                                        </h5>
                                                        <button type="button" class="close rounded-pill"
                                                                data-dismiss="modal" aria-label="Close">
                                                            <i data-feather="x"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                            Bonbon caramels muffin. Chocolate bar oat cake
                                                            cookie pastry dragée pastry. Carrot cake
                                                            chocolate tootsie roll chocolate bar candy canes
                                                            biscuit.
                                                            Gummies bonbon apple pie fruitcake icing biscuit
                                                            apple pie jelly-o sweet roll. Toffee sugar
                                                            plum sugar plum jelly-o jujubes bonbon dessert
                                                            carrot cake. Cookie dessert tart muffin topping
                                                            donut icing fruitcake. Sweet roll cotton candy
                                                            dragée danish Candy canes chocolate bar cookie.
                                                            Gingerbread apple pie oat cake. Carrot cake
                                                            fruitcake bear claw. Pastry gummi bears
                                                            marshmallow jelly-o.
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light-primary"
                                                                data-dismiss="modal">
                                                            <i class="bx bx-x d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Затвори</span>
                                                        </button>
                                                        <button type="button" class="btn btn-primary ml-1"
                                                                data-dismiss="modal">
                                                            <i class="bx bx-check d-block d-sm-none"></i>
                                                            <span class="d-none d-sm-block">Изтрий</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                        </div>

                        </tr>
                        <tr>
                            <td>Неработещ телевизор</td>
                            <th>202</th>
                            <td>23.01.2021 г.</td>
                            <td>Иван Петров</td>
                            <td data-toggle="modal" data-target="#border-less"><a href="#">Отвори</a></td>

                            <div class="modal fade text-left modal-borderless" id="border-less"
                                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Bonbon caramels muffin. Chocolate bar oat cake
                                                cookie pastry dragée pastry. Carrot cake
                                                chocolate tootsie roll chocolate bar candy canes
                                                biscuit.
                                                Gummies bonbon apple pie fruitcake icing biscuit
                                                apple pie jelly-o sweet roll. Toffee sugar
                                                plum sugar plum jelly-o jujubes bonbon dessert
                                                carrot cake. Cookie dessert tart muffin topping
                                                donut icing fruitcake. Sweet roll cotton candy
                                                dragée danish Candy canes chocolate bar cookie.
                                                Gingerbread apple pie oat cake. Carrot cake
                                                fruitcake bear claw. Pastry gummi bears
                                                marshmallow jelly-o.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-primary"
                                                    data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Изтрий</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <td>Неработещ телевизор</td>
                            <th>202</th>
                            <td>23.01.2021 г.</td>
                            <td>Иван Петров</td>
                            <td data-toggle="modal" data-target="#border-less"><a href="#">Отвори</a></td>

                            <div class="modal fade text-left modal-borderless" id="border-less"
                                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Bonbon caramels muffin. Chocolate bar oat cake
                                                cookie pastry dragée pastry. Carrot cake
                                                chocolate tootsie roll chocolate bar candy canes
                                                biscuit.
                                                Gummies bonbon apple pie fruitcake icing biscuit
                                                apple pie jelly-o sweet roll. Toffee sugar
                                                plum sugar plum jelly-o jujubes bonbon dessert
                                                carrot cake. Cookie dessert tart muffin topping
                                                donut icing fruitcake. Sweet roll cotton candy
                                                dragée danish Candy canes chocolate bar cookie.
                                                Gingerbread apple pie oat cake. Carrot cake
                                                fruitcake bear claw. Pastry gummi bears
                                                marshmallow jelly-o.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-primary"
                                                    data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Изтрий</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <td>Неработещ телевизор</td>
                            <th>202</th>
                            <td>23.01.2021 г.</td>
                            <td>Иван Петров</td>
                            <td data-toggle="modal" data-target="#border-less"><a href="#">Отвори</a></td>

                            <div class="modal fade text-left modal-borderless" id="border-less"
                                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Bonbon caramels muffin. Chocolate bar oat cake
                                                cookie pastry dragée pastry. Carrot cake
                                                chocolate tootsie roll chocolate bar candy canes
                                                biscuit.
                                                Gummies bonbon apple pie fruitcake icing biscuit
                                                apple pie jelly-o sweet roll. Toffee sugar
                                                plum sugar plum jelly-o jujubes bonbon dessert
                                                carrot cake. Cookie dessert tart muffin topping
                                                donut icing fruitcake. Sweet roll cotton candy
                                                dragée danish Candy canes chocolate bar cookie.
                                                Gingerbread apple pie oat cake. Carrot cake
                                                fruitcake bear claw. Pastry gummi bears
                                                marshmallow jelly-o.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-primary"
                                                    data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Изтрий</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        <tr>
                            <td>Неработещ телевизор</td>
                            <th>202</th>
                            <td>23.01.2021 г.</td>
                            <td>Иван Петров</td>
                            <td data-toggle="modal" data-target="#border-less"><a href="#">Отвори</a></td>

                            <div class="modal fade text-left modal-borderless" id="border-less"
                                 tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Стая 203 - Неработещ
                                                телевизор (24.02.2021)
                                            </h5>
                                            <button type="button" class="close rounded-pill"
                                                    data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Bonbon caramels muffin. Chocolate bar oat cake
                                                cookie pastry dragée pastry. Carrot cake
                                                chocolate tootsie roll chocolate bar candy canes
                                                biscuit.
                                                Gummies bonbon apple pie fruitcake icing biscuit
                                                apple pie jelly-o sweet roll. Toffee sugar
                                                plum sugar plum jelly-o jujubes bonbon dessert
                                                carrot cake. Cookie dessert tart muffin topping
                                                donut icing fruitcake. Sweet roll cotton candy
                                                dragée danish Candy canes chocolate bar cookie.
                                                Gingerbread apple pie oat cake. Carrot cake
                                                fruitcake bear claw. Pastry gummi bears
                                                marshmallow jelly-o.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light-primary"
                                                    data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1"
                                                    data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Изтрий</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>