@{
    this.Layout = "_UsersLayout";
}

<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Хотел "Плаза" Бургас</h3>
        <p class="text-subtitle text-muted">Иван Георгиев 27 - 30.01.2020</p>
    </div>
    <section class="section">
        <div class="row mb-2">
            <div class="col-12 col-md-3">
                <a href="dashboard.html">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>ДЕН</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>2 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="cleaning.html">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>ПОЧИСТВАНИЯ</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>2 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="signal.html">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>СИГНАЛИ</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>0 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-3">
                <a href="events.html">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>СЪБИТИЯ</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>3 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <section class="section">
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Прескочи почистване</h4>
                </div>
                <div class="card-body">
                    <p>
                        Прескочете предстоящото почистване за деня.
                    </p>
                    <!-- Button trigger for basic modal -->
                    <button type="button" class="btn btn-outline-primary block" data-toggle="modal" data-target="#default">
                        Прескочи
                    </button>

                    <!--Basic Modal -->
                    <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                         aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="myModalLabel1">Прескочи почистване</h5>
                                    <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        Сигурни ли сте, че искате да прескочите вашето почистване?

                                        Gummies bonbon apple pie fruitcake icing biscuit apple pie jelly-o sweet roll. Toffee sugar
                                        plum sugar plum jelly-o jujubes bonbon dessert carrot cake. Cookie dessert tart muffin topping
                                        donut icing fruitcake. Sweet roll cotton candy dragée danish Candy canes chocolate bar cookie.
                                        Gingerbread apple pie oat cake. Carrot cake fruitcake bear claw. Pastry gummi bears
                                        marshmallow jelly-o.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Затвори</span>
                                    </button>
                                    <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">Прескочи</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="table-hover-row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Минали почиствания</h4>
                        </div>
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>Номер</th>
                                            <th>Дата</th>
                                            <th>Начало</th>
                                            <th>Край</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-bold-500">1</td>
                                            <td>23/04/2020</td>
                                            <td class="text-bold-500">12:58</td>
                                            <td>13:34</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">1</td>
                                            <td>23/04/2020</td>
                                            <td class="text-bold-500">12:58</td>
                                            <td>13:34</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">1</td>
                                            <td>23/04/2020</td>
                                            <td class="text-bold-500">12:58</td>
                                            <td>13:34</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">1</td>
                                            <td>23/04/2020</td>
                                            <td class="text-bold-500">12:58</td>
                                            <td>13:34</td>
                                        </tr>
                                        <tr>
                                            <td class="text-bold-500">1</td>
                                            <td>23/04/2020</td>
                                            <td class="text-bold-500">12:58</td>
                                            <td>13:34</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </section>
</div>
