<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Хотел "Плаза" Бургас</h3>
        <p class="text-subtitle text-muted">Тук може да видите пълна статистика за хотела.</p>
    </div>
    <section class="section">
        <div class="row mb-2">
            <div class="col-12 col-md-4">
                <a href="dashboard.html">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>Заети стаи</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>2 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="cleaning.html">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>Рецепционисти</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>6 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="cleaning.html">
                    <div class="card card-statistic">
                        <div class="card-body p-0">
                            <div class="d-flex flex-column">
                                <div class='px-3 py-3 d-flex justify-content-between'>
                                    <h3 class='card-title'>Почистващ персонал</h3>
                                    <div class="card-right d-flex align-items-center">
                                        <p>7 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


            <section class="section">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Line Chart</h4>
                            </div>
                            <div class="card-body">
                                <div id="line"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </section>
</div>