<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Иван Петров - рецепционист </h3>
        <p class="text-subtitle text-muted">Тук можете да следите и управлявате профила на конкретния служител.</p>
    </div>
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="disabledInput">Име</label>
                                            <input type="text" class="form-control" id="disabledInput" placeholder="Иван"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="disabledInput">Фамилия</label>
                                            <input type="text" class="form-control" id="disabledInput" placeholder="Петров"
                                                   disabled>
                                        </div>


                                        <div class="col-12 d-flex justify-content-end">
                                            <button type="submit"
                                                    class="btn btn-primary mr-1 mb-1">
                                                Редактирай
                                            </button>
                                            <button type="reset"
                                                    class="btn btn-light-secondary mr-1 mb-1" data-toggle="modal"
                                                    data-target="#border-less">
                                                Изтрий
                                            </button>

                                            <div class="modal fade text-left modal-borderless" id="border-less" tabindex="-1"
                                                 role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Изтрий профил</h5>
                                                            <button type="button" class="close rounded-pill"
                                                                    data-dismiss="modal" aria-label="Close">
                                                                <i data-feather="x"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>
                                                                Сигурни ли сте, че искате да изтриете профила на този служител? Това е необратим процес.
                                                            </p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-light-primary"
                                                                    data-dismiss="modal">
                                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">Затвори</span>
                                                            </button>
                                                            <button type="button" class="btn btn-primary ml-1"
                                                                    data-dismiss="modal">
                                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                                <span class="d-none d-sm-block">Изтрий</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Регистрирани гости</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="bar"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>