@model

@{
    this.Layout = "_LogOutLayout";
}
<div id="auth">

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/images/logos/hotel_manager3_3.png" height="96" class='mb-4'>
                            <h3>Регистрирай хотел</h3>
                            <p>Моля попълнете тази форма, за да регистрирате хотел.</p>
                        </div>
                        <form asp-controller="Hotel" asp-action="RegisterHotel" method="post">
                            <div class="row">
                                <div asp-validation-summary="All"></div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Name">Име на хотела</label>
                                        <input type="text" asp-for="Name" class="form-control" name="hotel-name">
                                        <span asp-validation-for="Name"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber">Тел. номер</label>
                                        <input type="tel" asp-for="PhoneNumber" class="form-control" name="hotel-phone-number" pattern="[0-9]{3} [0-9]{3} [0-9]{4}">
                                        <span asp-validation-for="PhoneNumber"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="TownName">Град</label>
                                        <input type="text" asp-for="TownName" class="form-control" name="hotel-town">
                                        <span asp-validation-for="TownName"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Address">Адрес</label>
                                        <input type="text" asp-for="Address" class="form-control" name="hotel-adress">
                                        <span asp-validation-for="Address"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="CleaningPeriod">Период на почистване на стая</label>
                                        <input type="text" asp-for="CleaningPeriod" class="form-control" name="hotel-town">
                                        <span asp-validation-for="CleaningPeriod"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Image">Изображение</label>
                                        <div class="form-file">
                                            <input type="file" asp-for="Image" class="form-file-input" id="hotel-registration-image">
                                            <label class="form-file-label" for="hotel-registration-image">
                                                <span class="form-file-text" id="hotel-registration-image">Изберете файл...</span>
                                            </label>
                                            <span asp-validation-for="Image"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary float-right">Регистрирай</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>