<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Резервация - стая 201 </h3>
        <p class="text-subtitle text-muted">Тук можете да редактирате или изтриете резервация.</p>
    </div>
    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Стая 201</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="disabledInput">Име</label>
                                            <input type="text" class="form-control" id="disabledInput" placeholder="Иван Петров"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="disabledInput">Период</label>
                                            <input type="text" class="form-control" id="disabledInput" placeholder="12.01 - 14.01.2021"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="disabledInput">Възрастни</label>
                                            <input type="text" class="form-control" id="disabledInput" placeholder="2"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="disabledInput">Деца</label>
                                            <input type="text" class="form-control" id="disabledInput" placeholder="1"
                                                   disabled>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <fieldset class="form-group">
                                            <label for="disabledInput">Тип стая</label>
                                            <select class="form-select" disabled="disabled" id="disabledSelect">
                                                <option>Двойна</option>
                                                <option>Тройна</option>
                                                <option>Апартамент</option>
                                            </select>
                                        </fieldset>
                                    </div>

                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label for="disabledInput">Почиствания</label>
                                            <input type="text" class="form-control" id="disabledInput" placeholder="6"
                                                   disabled>
                                        </div>
                                    </div>

                                    <div class="col-12 d-flex justify-content-end">
                                        <button type="submit"
                                                class="btn btn-primary mr-1 mb-1">
                                            Редактирай
                                        </button>
                                        <button type="reset"
                                                class="btn btn-light-secondary mr-1 mb-1">
                                            Изтрий
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row" id="table-hover-row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Почиствания</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <p>
                            Минали почиствания за съответната резервация.
                        </p>
                    </div>
                    <!-- table hover -->
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>ДАТА</th>
                                    <th>ПОЧИСТИЛ</th>
                                    <th>ЩЕТИ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>23.02.2021 г.</td>
                                    <td>Иван Петров</td>
                                    <td>Да</td>
                                </tr>
                                <tr>
                                    <td>23.02.2021 г.</td>
                                    <td>Иван Петров</td>
                                    <td>Да</td>
                                </tr>
                                <tr>
                                    <td>23.02.2021 г.</td>
                                    <td>Иван Петров</td>
                                    <td>Да</td>
                                </tr>
                                <tr>
                                    <td>23.02.2021 г.</td>
                                    <td>Иван Петров</td>
                                    <td>Да</td>
                                </tr>
                                <tr>
                                    <td>23.02.2021 г.</td>
                                    <td>Иван Петров</td>
                                    <td>Да</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>