@using HotelCollab.ViewModels.Hotels
@model GetHotelsViewModel
@{
    this.Layout = "_LoggedLayout";
}

<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Моите хотели</h3>
        <p class="text-subtitle text-muted">Това са всички хотели, към които сте свързани:</p>
    </div>
    <section class="section">
        <div class="row mb-2">
            @foreach (var item in Model.RenderedHotels)
            {
                <div class="col-12 col-md-3">
                    <div class="card">
                        <div class="card-content">
                            <img class="card-img img-fluid" src="~/images/dashboard/hotel-card.jpg"
                                 alt="Card image">
                            <div class="card-img-overlay overlay-dark d-flex justify-content-between flex-column">
                                <div class="overlay-content">
                                    <p class="card-text text-ellipsis">
                                        @item.Hotel.Name, @item.Hotel.Town.Name
                                    </p>
                                </div>
                                <div class="overlay-status">
                                    <a asp-area="@item.Role" asp-controller="Home" asp-action="Index" asp-route-id="@item.Hotel.Id" class="btn btn-outline-white btn-sm">Влез</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>