@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Хотел Мениджър</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/images/logos/hotel_manager3_3.png" rel="icon">
    <link href="~/images/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/vendors/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/vendors/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendors/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/vendors/venobox/venobox.css" rel="stylesheet">
    <link href="~/vendors/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/vendors/aos/aos.css" rel="stylesheet">

    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">

            <h1 class="logo mr-auto"><a href="index.html">Хотел Мениджър</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/images/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index">Начало</a>
                    </li>
                    <li>
                        <a href="#about">За нас</a>
                    </li>
                    <li>
                        <a href="#services">Услуги</a>
                    </li>
                </ul>
            </nav><!-- .nav-menu -->

            <a asp-area="Identity" asp-controller="Account" asp-action="Login" class="get-started-btn scrollto">Започни сега</a>
        </div>
    </header><!-- End Header -->

    @this.RenderBody()

    <footer id="footer">
        <div class="container footer-bottom clearfix">
            <div class="copyright">
                Проект №147 - <strong><span>Хотел Мениджър</span></strong>
            </div>
            <div class="credits">
                НОИТ 2020/2021
            </div>
        </div>
    </footer><!-- End Footer -->
    <!-- Vendor JS Files -->
    <script src="~/vendors/jquery/jquery.min.js"></script>
    <script src="~/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendors/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendors/php-email-form/validate.js"></script>
    <script src="~/vendors/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/vendors/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/vendors/venobox/venobox.min.js"></script>
    <script src="~/vendors/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendors/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/index.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
