<div class="main-content container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-12">
                <h3>Служители</h3>
                <p class="text-subtitle">
                    Тук може да следите прогреса на вашите служители и да управлявате
                    профилите им.
                </p>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                Служители
            </div>
            <div class="card-body">
                <div class="col-md-12">

                    <table class='table table-striped' id="table1">
                        <thead>
                            <tr>
                                <th>Профил</th>
                                <th>Име</th>
                                <th>Служител</th>
                                <th>Детайли</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="avatar bg-warning ">
                                        <img src="~/images/avatar/avatar-s-4.png" alt="" srcset="">
                                    </div>
                                </td>
                                <td>Иван Петров</td>
                                <td>Рецепционист</td>
                                <td><a href="initial-employee.html">Отвори</a></td>

                            </tr>

                            <tr>
                                <td>
                                    <div class="avatar bg-warning ">
                                        <img src="assets/images/avatar/avatar-s-4.png" alt="" srcset="">
                                    </div>
                                </td>
                                <td>Иван Петров</td>
                                <td>Рецепционист</td>
                                <td><a href="initial-employee.html">Отвори</a></td>

                            </tr>

                            <tr>
                                <td>
                                    <div class="avatar bg-warning ">
                                        <img src="assets/images/avatar/avatar-s-4.png" alt="" srcset="">
                                    </div>
                                </td>
                                <td>Иван Петров</td>
                                <td>Рецепционист</td>
                                <td><a href="initial-employee.html">Отвори</a></td>


                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

</div>