<div class="main-content container-fluid">
    <div class="page-title">
        <h3>Предстоящи почиствания</h3>
        <p class="text-subtitle text-muted">Тук може да следите предстоящите Ви почиствания и да отбелязвате изпълнените.</p>
    </div>
    <div class="card widget-todo">
        <div class="card-header border-bottom d-flex justify-content-between align-items-center">
            <h4 class="card-title d-flex">
                <i class='bx bx-check font-medium-5 pl-25 pr-75'></i>Възложени
            </h4>

        </div>
        <div class="card-body px-0 py-1">
            <ul class="widget-todo-list-wrapper" id="widget-todo-list">
                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox1" data-toggle="modal" data-target="#default">
                                <label for="checkbox1"></label>
                            </div>
                            <span class="widget-todo-title ml-50">Стая 203</span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">Стая 203</h5>
                                            <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Отбелязване на стая като почистена. Моля, отбележете при наличие на щети или неизправности, открити по време на почистването.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input" id="checkbox1">
                                                <label for="checkbox1">Открити щети или неизправности</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox2" data-toggle="modal" data-target="#default">
                                <label for="checkbox2"></label>
                            </div>
                            <span class="widget-todo-title ml-50">Стая 305</span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">Стая 203</h5>
                                            <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Отбелязване на стая като почистена. Моля, отбележете при наличие на щети или неизправности, открити по време на почистването.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input" id="checkbox1">
                                                <label for="checkbox1">Открити щети или неизправности</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="widget-todo-item completed">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox3" data-toggle="modal" data-target="#default">
                                <label for="checkbox3"></label>
                            </div>
                            <span class="widget-todo-title ml-50">Стая 507</span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">Стая 203</h5>
                                            <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Отбелязване на стая като почистена. Моля, отбележете при наличие на щети или неизправности, открити по време на почистването.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input" id="checkbox1">
                                                <label for="checkbox1">Открити щети или неизправности</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox4" data-toggle="modal" data-target="#default">
                                <label for="checkbox4"></label>
                            </div>
                            <span class="widget-todo-title ml-50">Стая 495</span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">Стая 203</h5>
                                            <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Отбелязване на стая като почистена. Моля, отбележете при наличие на щети или неизправности, открити по време на почистването.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input" id="checkbox1">
                                                <label for="checkbox1">Открити щети или неизправности</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox5" data-toggle="modal" data-target="#default">
                                <label for="checkbox5"></label>
                            </div>
                            <span class="widget-todo-title ml-50">Стая 55</span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">Стая 203</h5>
                                            <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Отбелязване на стая като почистена. Моля, отбележете при наличие на щети или неизправности, открити по време на почистването.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input" id="checkbox1">
                                                <label for="checkbox1">Открити щети или неизправности</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
                <li class="widget-todo-item">
                    <div class="widget-todo-title-wrapper d-flex justify-content-between align-items-center mb-50">
                        <div class="widget-todo-title-area d-flex align-items-center">
                            <div class="checkbox checkbox-shadow">
                                <input type="checkbox" class="form-check-input" id="checkbox6" data-toggle="modal" data-target="#default">
                                <label for="checkbox6"></label>
                            </div>
                            <span class="widget-todo-title ml-50">Стая 433</span>
                            <div class="modal fade text-left" id="default" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="myModalLabel1">Стая 203</h5>
                                            <button type="button" class="close rounded-pill" data-dismiss="modal" aria-label="Close">
                                                <i data-feather="x"></i>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                Отбелязване на стая като почистена. Моля, отбележете при наличие на щети или неизправности, открити по време на почистването.
                                            </p>
                                            <div class="checkbox checkbox-shadow">
                                                <input type="checkbox" class="form-check-input" id="checkbox1">
                                                <label for="checkbox1">Открити щети или неизправности</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn" data-dismiss="modal">
                                                <i class="bx bx-x d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Затвори</span>
                                            </button>
                                            <button type="button" class="btn btn-primary ml-1" data-dismiss="modal">
                                                <i class="bx bx-check d-block d-sm-none"></i>
                                                <span class="d-none d-sm-block">Отбележи</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>