@page
@model LogoutModel

@{
    this.Layout = "_LogOutLayout";
}

<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/images/logos/hotel_manager3_3.png" height="96" class='mb-4'>
                            <h3>Изход</h3>
                            <p>Сигурни ли сте, че искате да излезете от вашия профил?</p>
                        </div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" asp-area="" asp-controller="Home" asp-action="Dashboard">
                                <div class="clearfix">
                                    <button type="submit" class="btn btn-outline-primary float-right">Не</button>
                                </div>
                            </form>

                            <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">
                                <div class="clearfix">
                                    <button type="submit" class="btn btn-primary float-right">Да</button>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="text-center mb-5">
                                <p>Вече сте излезли успешно от приложението.</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>