@page
@model RegisterModel

@{
    this.Layout = "_LoggedLayout";
}

<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/images/logos/hotel_manager3_3.png" height="96" class='mb-4'>
                            <h3>Регистрация</h3>
                            <p>Моля попълнете тази форма, за да се регистрирате.</p>
                        </div>
                        <form method="post">
                            <div class="row">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.FirstName">Първо име</label>
                                        <input asp-for="Input.FirstName" class="form-control" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.LastName">Фамилно име</label>
                                        <input asp-for="Input.LastName" class="form-control" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.Email">Email</label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.Password">Парола</label>
                                        <input asp-for="Input.Password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword">Повтори парола</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <input type="checkbox" asp-for="Input.IsManager" class="form-check-input" />
                                        <label asp-for="Input.IsManager">Аз съм управител.</label>
                                    </div>
                                </div>
                            </div>

                            <a asp-controller="Account" asp-action="Login">Имате акаунт? Влезте.</a>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary float-right">Регистрирай</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
