@page
@model RegisterModel

@{
    this.Layout = "_LoggedLayout";
}

<div id="auth">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 mx-auto">
                <div class="card pt-4">
                    <div class="card-body">
                        <div class="text-center mb-5">
                            <img src="~/images/logos/hotel_manager3_3.png" height="96" class='mb-4'>
                            <h3>Регистрация</h3>
                            <p>Моля попълнете тази форма, за да се регистрирате.</p>
                        </div>
                        <form action="index.html">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.FirstName">Първо име</label>
                                        <input type="text" asp-for="Input.FirstName" class="form-control" name="fname-column">
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.LastName">Фамилно име</label>
                                        <input type="text" asp-for="Input.LastName" class="form-control" name="lname-column">
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.Email">Email</label>
                                        <input type="email" asp-for="Input.Email" class="form-control" name="email-id-column">
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.Password">Парола</label>
                                        <input type="password" asp-for="Input.Password" class="form-control" name="pass-column">
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label asp-for="Input.ConfirmPassword">Повтори парола</label>
                                        <input type="password" asp-for="Input.ConfirmPassword" class="form-control" name="confirm-pass-column">
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group">
                                        <label for="moderation-role">Роля</label>
                                        <select name="moderation-role" id="moderation-role" class="form-control">
                                            <option value="" selected disabled hidden>-- Избери роля --</option>
                                            <option value="form-role-manger">Управител</option>
                                            <option value="form-role-receptionist">Рецепционист</option>
                                            <option value="form-role-cleaner">Камериер</option>
                                            <option value="form-role-guest">Гост</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <a asp-controller="Account" asp-action="Login">Имате акаунт? Влезте.</a>
                            <div class="clearfix">
                                <button type="submit" class="btn btn-primary float-right">Регистрирай</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
